body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("moutain.jpg");
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(219, 209, 209);
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.container:after {
    content: '';
    clear: both;
    display:block;
}
.logo {
    width: 60px;
    height: 20px;
    margin-right: 5%;
    align-items: center;
   
    float: right;
}

#logo-img {
    width: 100px;
    height: 50px;
}

.container ul {
    list-style: none;
    margin: 0;
}

.container > ul > li {
    position: relative;
    padding: 1.5%;
    float: left;
    border-radius: 50%;
}

.container ul li:hover {
    background-color: #202a35;
}


.container ul ul {
    position: absolute;
    padding: 0;
    padding-top: 5px;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}

.container ul ul li {
    padding: 5px;
    border-radius: 10%;
}

.container ul li:hover > ul {
    display: block;
    background-color: black;
} 

.nav-short {
    display: none;
}

@media (max-width: 780px){
    .container > ul >li {
        display: block;
        float: none;
        border-radius: 5%;
    }

    .container ul ul {
        position: relative;
        
    }
    .container ul ul li {
        background-color: rgb(148, 101, 101);
        border-radius: 0%;
    }
    .container ul li:hover {
        background-color: transparent;
        
    }

    .container ul li a:hover{
        color: tomato;
    }
    .container ul ul li:hover {
        background-color: transparent;
    }
    .container ul li:hover > ul {
        background-color: transparent;
    }
    /*.container ul li[id ="no-background-color"]:hover{
        background-color: black;
    }*/
    .container ul {
        text-align: center;
        display: block;
    }
    .logo {
        display: block;
        float: none;
    }

}

.about-content-box {
    border: 1.5em double chartreuse;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.about-heading {
    padding: 1.5em;
    font-size: 30px;
    color: rgb(228, 4, 4);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-content {
    padding-left: 8%;
}

.about-content-points {
    color: darkblue;
    font-size: 24px;
}

.contact-details {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 2%;
    background-color: darkcyan;
    opacity: 1;
    font-size: 24px;
    font-family: fantasy;
}

.contact-company-left {
    color: rgb(248, 21, 21);
}

.contact-company-right {
    padding-left: 80%;
}
.contact-email-left {
    color: rgb(248, 21, 21);
}

.contact-email-right {
    padding-left: 62%;
}
.contact-number-left {
    color: rgb(248, 21, 21);
}

.contact-number-right {
    padding-left: 80%;
}
.contact-address-left {
    color: rgb(248, 21, 21);
}

.contact-address-right {
    padding-left: 80%;
}

@media (max-width: 780px){
    .contact-company-right{
        padding-left: 65%;
    }
    .contact-email-right{
        padding-left: 32%;
    }
    .contact-number-right{
        padding-left: 65%;
    }
    .contact-address-right{
        padding-left: 65%;
    }
}